::-webkit-scrollbar{
    width: 0;
    height: 0;
}
body{
    padding: 0;
    margin: 0;
}
#map{
    height: 300vh;
    aspect-ratio: 16/9;
    background: linear-gradient(rgb(212, 0, 255),rgb(0, 195, 255));
    position: absolute;
}