::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
/* 
    font-family: 'Poiret One', cursive; 
    font-family: 'Unica One', cursive;
*/
:root{
    --black: rgb(14, 14, 14);
    --lighter: rgb(36, 36, 36);
    --color: rgb(66 9 197);/*4209C5*/
    --font: #ffffff;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--black);
    padding: 0;
    margin: 0;
}
#nav{
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    aspect-ratio: 15;
    filter: drop-shadow(0 0 0.75rem rgb(7, 0, 27));
}
#hero{
    margin-top: 1;
    width: 100vw;
    height: 90vh;
    background: linear-gradient(rgb(34, 34, 34),rgb(14, 14, 14));
    user-select: none;
}
#hero h1{
    font-size: 5em;
    position: absolute;
    top: 30%;
    left: 40%;
}
#hero h1:hover .reversed{
    color: var(--color);
}
#hero h1:hover b{
    color: var(--font);
}
#hero h2{
    font-size: 3em;
    position: absolute;
    top: 40%;
    left: 25%;
}
#hero div.something{
    width: 30vw;
    height: 60vh;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(0,-50%);
    background-color: var(--lighter);
}
#first-midsection-wave{
    width: 100%;
    aspect-ratio: 9;
    filter: drop-shadow(0 -0.3rem 0.1rem rgb(7, 0, 27));
}
#first-text-section{
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50%,0) rotate(10deg);
    width: 50%;
    height: 30%;
    font-size: 2em;
    text-align: center;
    border-radius: 30px;
    border: 10px var(--black);
    border-style: dashed;
    vertical-align: middle;
}
#second-text-section{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,0) rotate(-10deg);
    width: 50%;
    height: 30%;
    font-size: 2em;
    text-align: center;
    border-radius: 30px;
    border: 10px var(--black);
    border-style: dashed;
    vertical-align: middle;
}
.hoveron{
    transition: 100ms;
}
.hoveron:hover{
    width: 50.5% !important;
    height: 30.5% !important;
}
#Magic-Button{
    width: 20%;
    height: 10%;
    background-color: #00000000;
    position: absolute;
    top: 65%;
    left: 60%;
    border-radius: 30px;
    border: 10px var(--font) dashed;
    transform: rotate(-10deg);
    font-size: 2em;
    vertical-align: middle;
    cursor:pointer;
    transition: 100ms;
}
#Magic-Button:hover{
    color: var(--lighter);
    border-color: var(--lighter);
}
#Magic-Button:focus{
    color: var(--black);
    border-color: var(--black);
}
#second-midsection-wave{
    width: 100%;
    aspect-ratio: 9;
    filter: drop-shadow(0 0.3rem 0.1rem rgb(7, 0, 27));
}
#BlogPlace{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
#footer{
    width: 100%;
    height: 20px;
    background-color: var(--lighter);
}
.text{
    color: var(--font);
    font-family: 'Unica One', cursive;
    z-index: 2;
}
.to-blog{
    background-color: var(--color);
    border: 1px solid var(--lighter);
    border-radius: 50%;
    width: 10vw;
    aspect-ratio: 1;
    color: var(--font);
    text-decoration: none;
    font-family: 'Unica One', cursive;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0) rotate(90deg);
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0.2em 0.0em 0.5rem rgb(7, 0, 27));
    transition: 100ms;
}
.to-blog:hover{
    background-color: rgb(34, 6, 100);
    border: var(--black);
}
.project{
    background-color: var(--lighter);
    width:30%;
    height: 50vh;
    position: relative;
    border-radius: 50px 20px;
    transition: 100ms;
}
.project:hover{
    height: 52.5vh;
    width: 35%;
}
.tytul{
    position: absolute;
    left: 20px;
    bottom: 10px;
    font-size: 3em;
    padding: 0;
    margin: 0;
}
.tytul::first-letter{
    font-size: 1.5em;
}
.textB{
    color:var(--black);
    font-family: 'Unica One', cursive;
    z-index: 2;
}
.text b{
    color: var(--color);
    transition: 400ms;
}
.text .reversed{
    color: var(--font);
}
.subtext{
    color: var(--font);
    font-family: 'Poiret One', cursive; 
    z-index: 2;
}
.color-section{
    background-color: var(--color);
    width: 100%;
    height: 90vh;
    z-index: 10;
    position: relative;
}

.firstwave{
    background: url("./wave-haikei\ \(3\).svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.secondwave{
    background: url("./wave-haikei\ \(4\).svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.thridwave{
    background: url("./wave-haikei\ \(5\).svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.fourthwave{
    background: url("./wave-haikei\ \(6\).svg");
    background-repeat: no-repeat;
    background-size: cover;
}
